@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --elements: 0 0% 100%;
  --background: 0 0% 98%;
  --foreground: 200 15% 8%;
  --input: 0 0% 52%;
}

body {
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --elements: 200, 15%, 8%;
    --background: 207 26% 17%;
    --foreground: 0 0% 100%;
    --input: 0 0% 100%;
  }
}
